body{
    background-color: rgb(217, 217, 217);
   margin: 0%;
}
header{
    background-color: rgb(0, 150, 136);
    height: 10vw;
}
footer{
    background-color: rgb(0, 150, 136);
}
.logo{
    margin-top: 0pt;
    float: left;
    width: 11%;
    height: 90%;
}
.botoes{
    
    text-align: center;
    border-top: 5vw;
}
.botao{
    border-radius: 15vw;
    margin-top: 2.8vw;
    background-color: rgb(0, 121, 107);
    color: white;
    border-style: none;
    height: 4vw;
    width: 14vw;
    margin-right: 3vw;
    margin-left: 3vw;
    font-size: 1.5vw;
}
.imagem{
    width: 35vw;
    height: 25vw;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 1pt;
   
}
.texto{
    font-size: 1.6vw;
    width: 44vw;
    height: 20vw;
    text-align: center;
    margin-left: 7vw;
    font-family: Helvetica, sans-serif;
    margin-bottom: none;
}
.imagem, .texto{
    display: inline-block;
}
.imagem0{
    width: 17vw;
    height: 12vw;
    margin-bottom: none;
}
.imagem1{
    width: 17vw;
    height: 25vw;
   
}
.imagem2{
    width: 22vw;
    height: 13vw;
    margin-bottom: none;
}
.textos{
    width: 35%;
    height: 30vw;
    margin-left: 10.5vw;
    font-size: 1.2vw;
    font-family: Helvetica, sans-serif;
}
.retangulo{
    background-color: rgb(0, 150, 136);
    width: 100%;
    height: 25vw;
    
}
.texto1{
    color: white;
    width: 45vw;
    height: 30vw;
    font-size: 2vw;
    text-align: center;
    margin-left: 15vw;
    border-top: 23vw;
    font-family: Helvetica, sans-serif;
}
.imagem3{
    height: 19vw;
    width: 23vw;
}
.imagem3, .texto1{
    display: inline-block;
    margin-top: 2.5vw;
}
.titulo{
    font-size: 5vw;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 12vw;
}
.texto2{
    font-family: Helvetica, sans-serif;
    font-size: 1.9vw;
    width: 42vw;
    height: 20vw;
    text-align: center;
    padding-left: 6vw;
}
.txtetit, .imagem4{
    display: inline-block;
}
.imagem4{
    width: 31vw;
    height: 30vw;
    padding-left: 11vw;
}
.imagem5{
    width: 29vw;
    height: 28vw;
    padding-left: 10vw;
    padding-top: 2vw;
}
.titulo1{
    font-size: 5vw;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 12vw;
}
.texto3{
    font-family: Helvetica, sans-serif;
    font-size: 1.9vw;
    width: 42vw;
    height: 20vw;
    text-align: center;
    padding-left: 6vw;
}
.imagem5, .txtetit1{
    display: inline-block;
}
.imagem6{
    width: 29vw;
    height: 25vw;
    padding-left: 12.5vw;
    padding-top: 2vw;
}
.texto4{
    font-family: Helvetica, sans-serif;
    font-size: 1.9vw;
    text-align: center;
    width: 29vw;
    height: 12vw;
    display: inline-block;
    font-size: 2vw;
    padding-left: 12.5vw;
    padding-top: 2vw;
}
.contatos, .email, .tele{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 2vw;
    display: inline-block;
    padding-left: 10vw;
    padding-top: 2vw;
}
