body{
    background-color: rgb(217, 217, 217);
   margin: 0%;
}
header{
    background-color: rgb(0, 150, 136);
}
footer{
    background-color: rgb(0, 150, 136);
}
.logo{
    margin-top: 0pt;
    float: left;
    width: 10%;
    height: 10%;
}
.botoes{
    
    text-align: center;
    border-top: 50pt;
}
.botao{
    border-radius: 15%;
    margin-top: 40pt;
    background-color: rgb(0, 121, 107);
    color: white;
    border-style: none;
    height: 60px;
    width: 16%;
    margin-right: 3%;
    margin-left: 3%;
    font-size: 20pt;
}
.imagem{
    width: 35%;
    height: 40%;
    margin-top: 65pt;
    margin-left: 55pt;
    margin-right: 1pt;
   
}
.texto{
    font-size: 25pt;
    width: 45%;
    height: 40%;
    text-align: center;
    margin-left: 150pt;
    font-family: Helvetica, sans-serif;
}
.imagem, .texto{
    display: inline-block;
}
.imagem0{
    width: 45%;
    height: 60%;
    margin-bottom: none;
}
.imagem1{
    width: 55%;
    height: 55%;
   
}
.imagem2{
    width: 55%;
    height: 56%;
    margin-bottom: none;
}
.textos{
    width: 35%;
    height: 50%;
    margin-left: 170pt;
    font-size: 18pt;
    font-family: Helvetica, sans-serif;
}
.retangulo{
    background-color: rgb(0, 150, 136);
    width: 100%;
    height: 400pt;
    
}
.texto1{
    color: white;
    width: 700pt;
    height: 30pt;
    font-size: 30pt;
    text-align: center;
    margin-left: 420px;
    border-top: 380pt;
    font-family: Helvetica, sans-serif;
}
.imagem3{
    height: 290pt;
    width: 350pt;
}
.imagem3, .texto1{
    display: inline-block;
    margin-top: 50pt;
}
.titulo{
    font-size: 70pt;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 210pt;
}
.texto2{
    font-family: Helvetica, sans-serif;
    font-size: 30pt;
    width: 700pt;
    height: 170pt;
    text-align: center;
    padding-left: 60pt;
}
.txtetit, .imagem4{
    display: inline-block;
}
.imagem4{
    width: 450pt;
    height: 450pt;
    padding-left: 230pt;
}
.imagem5{
    width: 480pt;
    height: 450pt;
    padding-left: 165pt;
    padding-top: 100pt;
}
.titulo1{
    font-size: 70pt;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 210pt;
}
.texto3{
    font-family: Helvetica, sans-serif;
    font-size: 30pt;
    width: 700pt;
    height: 170pt;
    text-align: center;
    padding-left: 60pt;
}
.imagem5, .txtetit1{
    display: inline-block;
}
.imagem6{
    width: 30%;
    height: 45%;
    padding-left: 200pt;
    padding-top: 120pt;
}
.texto4{
    font-family: Helvetica, sans-serif;
    font-size: 15pt;
    text-align: center;
    width: 30%;
    height: 45%;
    display: inline-block;
    font-size: 30pt;
    padding-left: 200pt;
    padding-top: 10pt;
}
.contatos, .email, .tele{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20pt;
    display: inline-block;
    padding-left: 200pt;
    padding-top: 29pt;
}
