body{
    background-color: rgb(217, 217, 217);
   margin: 0%;
}
header{
    background-color: rgb(0, 150, 136);
}
.logo{
    margin-top: 0pt;
    float: left;
    width: 10%;
    height: 10%;
}
.botoes{
    
    text-align: center;
    border-top: 50pt;
}
.botao{
    border-radius: 15%;
    margin-top: 40pt;
    background-color: rgb(0, 121, 107);
    color: white;
    border-style: none;
    height: 60px;
    width: 16%;
    margin-right: 3%;
    margin-left: 3%;
    font-size: 20pt;
}
.imagem{
    width: 35%;
    height: 40%;
    margin-top: 65pt;
    margin-left: 55pt;
    margin-right: 1pt;
   
}
.texto{
    font-size: 25pt;
    width: 45%;
    height: 40%;
    text-align: center;
    margin-left: 150pt;
    
    
}
.imagem, .texto{
    display: inline-block;
}
.imagem0{
    width: 35%;
    height: 40%;
    margin-bottom: none;
}
.imagem1{
    width: 55%;
    height: 55%;
   
}
.imagem2{
    width: 55%;
    height: 56%;
    margin-bottom: none;
}
.imagem3{
    margin-left: 30%;
    width: 300px;
    height: 230px;
}
.textos{
    width: 35%;
    height: 50%;
    margin-left: 170pt;
    font-size: 18pt;
}
.retangulo{
    background-color: rgb(0, 150, 136);
    width: 100%;
    height: 400pt;
}
.texto1{
    margin-top: -10%;
    margin-left: 42%;
    color: white;
    width: 410pt;
    height: 170pt;
    font-size: 16pt;
}
